# FL-20-Jun-2018

# pip requirements file for RusRep with a Python-2.7.15
# setuptools, pip, and virtualenv should already be present in the (virtual) python2.7

# install the packages below from a terminal: 
# $ pip install -r requirements_py2.7.15.txt

# Newer versions may (or may not) work; we used the versions below 
# Notice: the version of pymongo to be used depends on he MongoDB version


future == 0.16.0        # 
six == 1.11.0           # 
simplejson == 3.15.0    # 
jsonmerge == 1.5.1      # also fetched jsonschema-2.6.0 functools32-3.2.3.post2
ldap == 1.0.2           # also fetched ldap3-2.5 pyasn1-0.4.3
Flask == 1.0.2          # also fetched Jinja2-2.10 MarkupSafe-1.0 Werkzeug-0.14.1 click-6.7 itsdangerous-0.24
psycopg2 == 2.7.5       # 

#pymongo == 3.5.1        # supports MongoDB 2.4, 2.6, 3.0, 3.2, and 3.4 
pymongo == 3.6.1        # supports MongoDB 2.6, 3.0, 3.2, 3.4, and 3.6 

pandas == 0.23.1        # also fetched numpy-1.14.5 python-dateutil-2.7.3 pytz-2018.4
bidict == 0.17.2        # 
XlsxWriter == 1.0.5     # 
xlrd == 1.1.0           # 
openpyxl == 2.5.4       # also fetched et-xmlfile-1.0.1 jdcal-1.4

#PyICU == 1.9.6          # 
PyICU == 2.0.3          # requires C++11, otherwise use PyICU-1.9.6


# dataverse-client-python not yet in PyPI, fetch dataverse-0.1.2 from github
git+https://github.com/IQSS/dataverse-client-python.git#egg=dataverse
# also fetched bleach-2.1.3 certifi-2018.4.16 chardet-3.0.4 html5lib-1.0.1 idna-2.7 lxml-4.2.1 requests-2.19.1 urllib3-1.23 webencodings-0.5.1


# [eof]
